<link rel="stylesheet" href="../css/layui.css"/>
<style type="text/css">
    .updateBox {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 9999;
        transform: translate(-50%, -50%);
        padding: 20px;
        /*border: 1px solid red;*/
        background-color: white;
        box-sizing: border-box;
        border-radius: 5px;
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
    }

    .title {
        height: 40px;
        line-height: 40px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        margin-bottom: 10px;
    }

    .title p {
        font-size: 16px;
        font-weight: 600;
    }

    .layui-form-label {
        padding: 10px 2px !important;
    }
</style>
<!--左侧导航-->
<aside class="lyear-layout-sidebar" id="menuApp">

    <!-- logo -->
    <div id="logo" class="sidebar-header">
        <a href="home.html">
            <img src="../images/APCOS.jpg" title="重新加载" alt="LightYear" style="height: 40px;margin-bottom: 20px;"/>
        </a>
    </div>

    <div class="lyear-layout-sidebar-scroll">
        <nav class="sidebar-main">
            <!--动态菜单-->
            <ul class="nav nav-drawer">
                <li class="nav-item">
                    <a href="home.html"><i class="fa fa-home"></i> 大数据</a>
                </li>
                <li class="nav-item nav-item-has-subnav" v-for="(value, key, idnex) in list">
                    <a href="javascript:void(0)"><i :class="value[0]"></i> {{key}}</a>
                    <ul class="nav nav-subnav" v-if="value[1] != null">
                        <li v-for="(value1, key1, idnex1) in value[1]">
                            <a :href="value1[0]+'.html'">
                               {{key1}}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

</aside>
<!--End 左侧导航-->

<!--头部信息-->
<header class="lyear-layout-header">

    <nav class="navbar navbar-default">
        <div class="topbar">

            <div class="topbar-left">
                <h3 style="color: #0f68c7;font-weight: 400;">中国工业互联网研究院测试中心</h3>

                <!--<div class="lyear-aside-toggler">
                    <span class="lyear-toggler-bar"></span>
                    <span class="lyear-toggler-bar"></span>
                    <span class="lyear-toggler-bar"></span>
                </div>-->

                <!--<span class="navbar-page-title"> 欢迎回来，<span style="color: #51fdfd;">管理员</span> </span>-->
            </div>

            <ul class="topbar-right">
                <li class="dropdown dropdown-profile">
                    <a href="javascript:void(0)" data-toggle="dropdown">
                        <span class="userName">海克斯</span>
                    </a>
                </li>

                <!--退出登录-->
                <li>
								<p class="icon-palette" title="退出登录">
				             		<i class="mdi mdi-login-variant loginOut"></i>
				             	</p>
                </li>

                <!--修改密码-->
                <li>
								<p class="icon-palette" title="修改密码">
				             		<i class="mdi mdi-textbox-password updatePWD" id="Update"></i>
				             	</p>
                </li>

                <li>
								<p class="icon-palette" title="首页">
									<a class="fa fa-home" onclick="hrefHtml()"></a>
								</p>
                </li>
                <span class="navbar-page-title"> 欢迎回来，<span style="color: #51fdfd;">管理员</span> </span>
            </ul>
        </div>
    </nav>

</header>
<!--End 头部信息-->

<!--<script type="text/javascript" src="../js/bootstrap.min.js"></script>-->
<script src="../plus/iview/vue.min.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="../js/main.min.js"></script>

<script>
    // $("#toInfo").click(function () {
    //     isHeadOffice = $.getCookie("isHeadOffice");
    //     if (isHeadOffice == 1) {
    //         window.location.href = "head-office.html";
    //     } else {
    //         window.location.href = "branch.html";
    //     }
    // })

    
    //
    // $('.lyear-layout-content').show();
    //
    // //退出登录
    // $('.loginOut').on('click', function () {
    //     var conlayer = layer.confirm("确定退出？", {
    //         btn: ['确定', '取消']
    //     }, function () {
    //         $.delCookie("organizationId");
    //         $.delCookie("userName");
    //         $.delCookie("isHeadOffice");
    //         $.delCookie("token");
    //         $.delCookie("menuList");
    //         window.location.href = 'Login/login.html'
    //     }, function () {
    //         layer.close(conlayer);
    //     });
    // });

    //跳转到前台页面
    // function hrefHtml() {
    //     // let isHeadOffice = $.getCookie("isHeadOffice");
    //     let lv = $.getCookie("orgLv");
    //     if (lv == "0") {
    //         window.location.href = "./../tradeunion-web/index_all.html";
    //     } else if (lv == "1") {
    //         window.location.href = "./../tradeunion-web/exhibitionManagement.html?z_orgId=" + $.getCookie("userOrg");
    //     } else if (lv == "2") {
    //         window.location.href = "./../tradeunion-web/enterpriseIndex.html";
    //     } else {
    //         window.location.href = "Login/login.html";
    //     }
    // }

    // //修改密码
    // function showUpdatePwd(title, flag) {
    //     html = template("updatePwd", {
    //         title: "123"
    //     });
    //
    //     flag = 1;
    //     var myLayer = layer.open({
    //         skin: 'card',
    //         type: 1,
    //         title: [title, ''],
    //         area: ['450px', 'auto'],
    //         resize: true,
    //         offset: 'auto',
    //         content: html,
    //         btn: ['提交', '取消'],
    //         yes: function (index, layero) {
    //
    //             //旧密码
    //             var oldPwd = $('#oldPwd').val();
    //             //新密码
    //             var newPwd = $('#newPwd').val();
    //             var truePwd = $('#truePwd').val();
    //             console.log(oldPwd, newPwd, truePwd);
    //             if (newPwd != truePwd) {
    //                 layer.msg("两次密码不一样,请重新输入", {
    //                     icon: 5
    //                 });
    //                 return;
    //             }
    //             /*$.ajax({
    //                 url: userServiceUrl + "/user/updatePassword2",
    //                 type: 'put',
    //                 data: {
    //                     oldUserPassword: oldPwd,
    //                     userPassword: truePwd,
    //                     token:$.getToken()
    //                 },
    //                 dataType: 'json',
    //                 success: function(data) {
    //                     console.log(data);
    //                 }
    //             })*/
    //             let formData = {};
    //             formData.oldUserPassword = MD5(oldPwd);
    //             formData.userPassword = MD5(truePwd);
    //             $.show_overall_loding();
    //             $.putJSON(userServiceUrl + "/user/updatePassword", formData, function (res) {
    //                 $.hide_overall_loding();
    //                 if (res.code == 0) {
    //                     layer.msg("密码修改成功", {icon: 1});
    //                     layer.close(myLayer);
    //                 } else {
    //                     layer.msg("密码修改失败", {icon: 2});
    //                 }
    //             })
    //         },
    //         success: function (layero) {
    //             $(".layui-layer-title").addClass("card-header");
    //             var data = null;
    //             if (data != null) {
    //                 $("#oldPwd").val(data.oldPwd);
    //                 $("#newPwd").val(data.newPwd);
    //                 $("#truePwd").val(data.truePwd);
    //                 $("#updatePwdForm").setForm(data);
    //             }
    //         }
    //     });
    // }
    //
    // //添加事件
    // $("#Update").on("click", function () {
    //     url = "";
    //     showUpdatePwd("修改密码", 1);
    //
    // });
    //
    // $(".userName").html($.getCookie("userName"));
</script>

<!--修改密码-->
<script type="text/html" id="updatePwd">
    <section class="openDetail" style="width: 100%;">
        <div class="panel-body">
            <form id="updatePwdForm">
                <div class="row">
                    <div class="col-lg-12" style="margin: 20px 0">
                        <label class="layui-form-label">原密码：</label>
                        <div class="layui-form-label">
                            <input class="form-control" id="oldPwd" name="oldPwd" type="password"
                                   style="width:300px;margin-top: -10px">
                        </div>
                    </div>
                    <div class="col-lg-12" style="margin: 20px 0">
                        <label class="layui-form-label">新密码：</label>
                        <div class="layui-form-label">
                            <input class="form-control" id="newPwd" name="newPwd" type="password"
                                   style="width:300px;margin-top: -10px">
                        </div>
                    </div>
                    <div class="col-lg-12" style="margin: 20px 0">
                        <label class="layui-form-label">确认密码：</label>
                        <div class="layui-form-label">
                            <input class="form-control" id="truePwd" name="truePwd" type="password"
                                   style="width:300px;margin-top: -10px">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>

</script>