/*
    引入LED字体
*/

@font-face {
	font-family: 'LED';
	src: url('../fonts/UnidreamLED.ttf')
}

html,
div {
	/*隐藏滚动条*/
	scrollbar-width: none;
	/*火狐*/
	overflow: -moz-scrollbars-none;
	scrollbar-color: transparent transparent;
	scrollbar-track-color: transparent;
	-ms-scrollbar-track-color: transparent;
	/*IE兼容*/
	-ms-scroll-chaining: chained;
	-ms-overflow-style: none;
	-ms-content-zooming: zoom;
	-ms-scroll-rails: none;
	-ms-content-zoom-limit-min: 100%;
	-ms-content-zoom-limit-max: 500%;
	-ms-scroll-snap-type: proximity;
	-ms-scroll-snap-points-x: snapList(100%, 200%, 300%, 400%, 500%);
	-ms-overflow-style: none;
	scrollbar-base-color: white;
	scrollbar-3dlight-color: white;
	scrollbar-highlight-color: white;
	scrollbar-track-color: white;
	scrollbar-arrow-color: white;
	scrollbar-shadow-color: white;
	scrollbar-dark-shadow-color: white;
	-ms-scroll-chaining: chained;
	-ms-overflow-style: none;
	-ms-content-zooming: zoom;
	-ms-scroll-rails: none;
	-ms-content-zoom-limit-min: 100%;
	-ms-content-zoom-limit-max: 500%;
	-ms-scroll-snap-type: proximity;
	-ms-scroll-snap-points-x: snapList(100%, 200%, 300%, 400%, 500%);
	-ms-overflow-style: none;
}


/*公用头部样式*/


/* scrollbar */

::-webkit-scrollbar {
	width: 0;
	height: 0;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 0.05rem;
	background-color: rgba(0, 0, 0, 0.3);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 0.14rem;
	color: #fff;
}

ul {
	list-style: none;
}

.titleBox {
	margin-top: 0.2rem;
	height: 0.4rem;
	line-height: 0.4rem;
	display: flex;
	align-items: center;
}

.titleBox img,
.title>img {
	width: 0.18rem;
	/*height: 0.18rem;*/
}

.titleBox span {
	margin-left: 0.1rem;
	font-size: 0.18rem;
}

a {
	text-decoration: none;
}


/*
    企业总计
*/

.contAll {
	position: absolute;
	top: 18%;
	left: 0;
	width: 100%;
	text-align: center;
}

.contAll .name {
	font-size: 0.14rem;
	margin: 0 0.1rem;
}

.contAll .number {
	font-family: LED;
	margin-left: 0.05rem;
	letter-spacing: 2px;
	font-size: 0.26rem;
}


/*地图信息弹框*/

.map-frame {
	background: url("../img/public/infoback.png") no-repeat;
	background-size: contain;
	width: 3.7rem;
	height: 1.3rem;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -1.85rem;
	margin-top: -0.65rem;
}


/*弹框信息标题*/

.map-frame>.frame-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 0.17rem;
	padding: 0 0.12rem 0 0.2rem;
}


/*弹框信息标题*/

.map-frame>.frame-title>span:first-child {
	font-size: 0.16rem;
	color: #ffffff;
}

.map-frame>.frame-title>span:nth-child(2) {
	display: inline-block;
	width: 0.42rem;
	height: 100%;
	cursor: pointer;
}

.frame-content {
	height: 1.03rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-left: 0.2rem;
	color: #ffffff;
	padding-top: 0.1rem;
}

.frame-content>p:first-child {
	font-size: 0.16rem;
}

.frame-content>p:nth-child(2)>span {
	font-size: 0.12rem;
}

.frame-content>p:nth-child(3) {
	font-size: 0.12rem;
	color: #00ffff;
	cursor: pointer;
}