.section {
	display: flex;
	font-size: 0.12rem;
	margin: 0 0.4rem;
	justify-content: space-between;
	position: relative;
}

.Switch {
	display: flex;
	align-items: center;
	margin-left: 0.17rem;
	position: absolute;
}

.section .box-foot {
	width: 0.8rem;
	height: 0.23rem;
	display: flex;
	justify-content: flex-end;
	position: absolute;
	bottom: -0.04rem;
	right: 0;
	z-index: 10;
}

.section .box-foot a {
	width: 100%;
	cursor: pointer;
}

#left {
	width: 4.21rem;
	display: flex;
	flex-direction: column;
}

#left .left-one {
	display: flex;
	flex-direction: column;
	padding-top: 0.3rem;
	width: 4.21rem;
	height: 1.52rem;
	background: url('../img/exhibition/box_bac1.png') no-repeat;
	background-size: 4.21rem 1.52rem;
	position: relative;
	margin-bottom: 0.2rem;
}

.left-one>p {
	margin-left: 0.38rem;
}

.left-one>p:first-child {
	font-size: 0.26rem;
	font-weight: bold;
	margin-top: 0.15rem;
	margin-bottom: 0.1rem;
}

#left .left-two {
	display: flex;
	flex-direction: column;
	padding-top: 0.3rem;
	width: 4.21rem;
	height: 2.62rem;
	background: url('../img/exhibition/box_bac2.png') no-repeat;
	background-size: 4.21rem 2.62rem;
	position: relative;
	margin-bottom: 0.25rem;
}


/*企业信息*/

.company-info {
	width: 100%;
	height: 1.9rem;
	overflow: hidden;
	margin-top: 0.15rem;
	padding-left: 0.18rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.company-info .info-title {
	display: inline-block;
	font-size: 0.14rem;
	color: #cccccc;
	width: 0.75rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.company-info>div {
	display: flex;
	align-items: center;
}

.company-info>div>span {
	display: inline-block;
	font-size: 0.16rem;
	color: #ffffff;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.company-info>div>span:nth-child(2) {
	width: 1.03rem;
	padding-left: 0.1rem;
}

.company-info>div>span>img {
	width: 1.16rem;
	margin-left: 0.28rem;
}

#left .left-three {
	display: flex;
	flex-direction: column;
	padding-top: 0.3rem;
	width: 4.21rem;
	height: 1.52rem;
	background: url('../img/exhibition/box_bac3.png') no-repeat;
	background-size: 4.21rem 1.52rem;
	position: relative;
	margin-bottom: 0.23rem;
}

.left-three .air-box {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
}

.air-box .echart-box {
	display: flex;
	align-items: center;
	width: 0.8rem;
	height: 100%;
	margin: 0 0.3rem;
}

.air-box .echart-box>div {
	width: 0.8rem;
	height: 0.8rem;
}

.air-box .right-box {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding-left: 0.2rem;
}

.air-box .right-box .air-item {
	display: flex;
	flex-direction: column;
	width: 28%;
	margin-right: 0.2rem;
	margin-bottom: 0.15rem;
}

.air-item .item-text {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	margin-bottom: 0.05rem;
	line-height: 0.12rem;
}

.air-item .item-text span:last-child{
	width: 0.5rem;
	text-align: right;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.air-item>span {
	width: 100%;
	height: 0.05rem;
	border-radius: 0.5rem;
}

#left .left-four {
	display: flex;
	flex-direction: column;
	padding-top: 0.3rem;
	width: 4.21rem;
	height: 3.22rem;
	background: url('../img/exhibition/box_bac4.png') no-repeat;
	background-size: 4.21rem 3.22rem;
	position: relative;
}

.left-four .Switch {
	right: 0.2rem;
	top: 0.2rem;
}

.left-four .box-head {
	display: flex;
	flex-direction: column;
	padding: 0 0.25rem;
	position: relative;
}

.left-four .box-head .box-item-coloum {
	margin-top: 0.2rem;
}

.left-four .box-head .text-content>span {
	font-size: 0.24rem;
	color: #00A2FF;
	font-weight: bold;
}

.left-four .box-head .box-item-coloum>span {
	font-size: 0.12rem;
}

.left-four .box-body {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.left-four .box-body>div {
	width: 3.8rem;
	height: 1.8rem;
}

.left-four .right-box {
	display: flex;
	align-items: center;
	margin-left: 0.1rem;
}

#center {
	width: 9.2rem;
	height: 9.54rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}

#center .box-foot {
	bottom: 0.05rem;
}

.device-type-tip {
	width: 3.1rem;
	font-size: 0.14rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 0.1rem;
	margin-left: 1.7rem;
}

.device-type-tip li {
	display: flex;
	align-items: center;
	height: 0.15rem;
}

.device-type-tip li>span:first-child {
	width: 0.1rem;
	height: 0.1rem;
	border-radius: 50%;
	margin-right: 0.1rem;
}

.select-box {
	display: flex;
	/*justify-content: space-between;*/
}

.floor-select .cd-dropdown ul li span {
	padding-left: 0.2rem;
}

#floor-box {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	/*height: 4.32rem;*/
	position: relative;
}

#floor-item {
	/*width: 100%;
	height: 4.32rem;*/
}

#company_area_name {
	position: absolute;
	top: 0;
	font-size: 20px;
	font-weight: bold;
	margin-top: 0.2rem;
}

#center .center-one {
	width: 9.19rem;
	height: 1.62rem;
	background: url('../img/exhibition/box_bac5.png') no-repeat;
	background-size: 9.19rem 1.62rem;
	background-position: 0 0;
	position: relative;
	display: flex;
	flex-direction: column;
	padding-top: 0.38rem;
	margin-bottom: 0.11rem;
}

.center-one .device-box {
	width: 100%;
	height: 100%;
	position: relative;
	padding: 0 0.63rem;
}

.center-one .device-box .device-list-box {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.center-one .device-box .device-list {
	display: flex;
}

.center-one .device-box .device-list li {
	display: flex;
	flex-direction: column;
	margin-right: 0.3rem;
	text-align: center;
	align-items: center;
}

.center-one .device-list .icon-box {
	width: 0.53rem;
	height: 0.68rem;
	margin-bottom: 0.05rem;
	padding-top: 0.1rem;
	padding-right: 0.02rem;
}

.center-one .device-list li>span:last-child {
	width: 0.7rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.center-one .device-list li .icon-bulb {
	background-position: 0 -3.21rem;
}

.center-one .device-box .left-btn {
	position: absolute;
	top: 0.37rem;
	left: 0.2rem;
	width: 0.2rem;
	height: 0.21rem;
	background: url('../img/exhibition/left.png') no-repeat;
	background-size: 0.18rem 0.2rem;
	cursor: pointer;
}

.center-one .device-box .right-btn {
	position: absolute;
	top: 0.37rem;
	right: 0.2rem;
	width: 0.2rem;
	height: 0.21rem;
	background: url('../img/exhibition/right.png') no-repeat;
	background-size: 0.18rem 0.2rem;
	cursor: pointer;
}

/*.icon-device {
	width: 0.52rem;
	height: 0.53rem;
	background: url('../img/exhibition/icon_big_sprite.png') no-repeat;
	background-size: 5.37rem 0.66rem;
}

.icon-bulb-big {
	background-position: 0 0;
}

.icon-air-big {
	background-position: -0.71rem 0;
}

.icon-LED-big {
	background-position: -1.42rem 0;
}

.icon-flash-big {
	background-position: -2.13rem 0;
}

.icon-switch-big {
	background-position: -3.55rem 0;
}

.icon-camera-big {
	background-position: -2.84rem 0;
}

.icon-flooding-big {
	background-position: -4.18rem 0;
}

.icon-smoke-big {
	background-position: -4.84rem 0;
}*/

.icon-device-blue {
	width: 0.52rem;
	height: 0.66rem;
	background: url('../img/exhibition/blue.png') no-repeat;
	background-size: 0.52rem 0.66rem;
}

.icon-device-green {
	width: 0.52rem;
	height: 0.66rem;
	background: url('../img/exhibition/green.png') no-repeat;
	background-size: 0.52rem 0.66rem;
}

.icon-device-red {
	width: 0.52rem;
	height: 0.66rem;
	background: url('../img/exhibition/red.png') no-repeat;
	background-size: 0.52rem 0.66rem;
}

.icon-device-yellow {
	width: 0.52rem;
	height: 0.66rem;
	background: url('../img/exhibition/yellow.png') no-repeat;
	background-size: 0.52rem 0.66rem;
}

#right {
	width: 4.21rem;
	display: flex;
	flex-direction: column;
}

#right .right-one {
	width: 4.21rem;
	height: 1.62rem;
	background: url('../img/exhibition/box_bac6.png') no-repeat;
	background-size: 4.21rem 1.62rem;
	background-position: 0 0;
	position: relative;
	display: flex;
	flex-direction: column;
	margin-bottom: 0.16rem;
}

.right-one .echart-box {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.right-one .echart-box .item {
	width: 0.59rem;
	text-align: center;
}

.right-one .echart-box .item>div {
	width: 0.59rem;
	height: 0.59rem;
}

.right-one .echart-box .item>span {
	display: inline-block;
	font-size: 0.12rem;
	margin-top: 0.1rem;
}

#right .right-two {
	width: 4.21rem;
	height: 1.52rem;
	background: url('../img/exhibition/box_bac7.png') no-repeat;
	background-size: 4.21rem 1.52rem;
	background-position: 0 0;
	position: relative;
	display: flex;
	margin-bottom: 0.16rem;
}

.right-two .device-box {
	width: 100%;
	height: 100%;
	position: relative;
	padding: 0 0.38rem;
}

.right-two .device-box .device-list-box {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.right-two .device-box .device-list {
	display: flex;
}

.right-two .device-box .device-list li {
	display: flex;
	flex-direction: column;
	margin-right: 0.18rem;
	text-align: center;
	align-items: center;
	cursor: pointer;
}

.right-two .device-list .icon-box {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 0.56rem;
	height: 0.56rem;
	margin-bottom: 0.1rem;
	border: 1px solid #4CA7FD;
	border-radius: 8px;
}

.right-two .device-list .icon-box img{
	width: 0.5rem;
	height: 0.5rem;
}

.right-two .device-list li>span:last-child {
	width: 0.7rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/*.icon-plane {
	display: inline-block;
	background: url('../img/exhibition/icon_plan_sprite.png') no-repeat;
	background-size: 3.47rem 0.56rem;
}

.icon-electric-switch {
	background-position: 0 0;
}

.icon-notice {
	background-position: -0.73rem 0;
}

.icon-on-work {
	background-position: -1.46rem 0;
}

.icon-off-work {
	background-position: -2.19rem 0;
}

.icon-reset {
	background-position: -2.92rem 0;
}*/

.right-two .device-box .left-btn {
	position: absolute;
	top: 50%;
	left: 0.1rem;
	width: 0.2rem;
	height: 0.21rem;
	margin-top: -0.1rem;
	background: url('../img/exhibition/left.png') no-repeat;
	background-size: 0.18rem 0.2rem;
	cursor: pointer;
}

.right-two .device-box .right-btn {
	position: absolute;
	top: 50%;
	right: 0.1rem;
	width: 0.2rem;
	height: 0.21rem;
	margin-top: -0.1rem;
	background: url('../img/exhibition/right.png') no-repeat;
	background-size: 0.18rem 0.2rem;
	cursor: pointer;
}

#right .right-three {
	width: 4.21rem;
	height: 3.02rem;
	background: url('../img/exhibition/box_bac8.png') no-repeat;
	background-size: 4.21rem 3.02rem;
	background-position: 0 0;
	position: relative;
	display: flex;
	flex-direction: column;
	margin-bottom: 0.19rem;
}

.right-three .box-head {
	width: 100%;
	height: 0.55rem;
	margin-left: 0.37rem;
	margin-top: 0.4rem;
	display: flex;
	align-items: center;
}

.right-three .box-head .box-head-item {
	display: flex;
	margin-right: 0.4rem;
}

.box-head .box-head-item .text-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-left: 0.1rem;
}

.box-head .box-head-item .text-content>span:last-child {
	font-family: orbitronBold;
	font-size: 0.24rem;
}

.icon-alert {
	width: 0.52rem;
	height: 0.54rem;
	background: url('../img/exhibition/callpolice.png') no-repeat;
	background-size: 0.52rem 0.54rem;
	background-position: 0 0;
}

.icon-error {
	width: 0.52rem;
	height: 0.54rem;
	background: url('../img/exhibition/malfunction.png') no-repeat;
	background-size: 0.52rem 0.54rem;
	background-position: 0 0;
}

.right-three .box-list {
	width: 100%;
	height: 100%;
	padding: 0.1rem 0.16rem 0 0.23rem;
}

.box-list .list-title,
.box-list .list-box .item {
	display: flex;
	height: 0.23rem;
	align-items: center;
	margin-bottom: 0.05rem;
}

.box-list .list-title>span,
.box-list .list-box .item>span {
	font-weight: bold;
	width: 20%;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.box-list .list-title>span:nth-child(3),
.box-list .list-title>span:nth-child(4),
.box-list .list-box .item>span:nth-child(3),
.box-list .list-box .item>div {
	width: 30%;
}

.box-list .list-box {
	height: 1.45rem;
	overflow: auto;
}

.box-list .list-box .item>span {
	font-weight: normal;
}

.box-list .list-box .item {
	height: 0.32rem;
}

.box-list .list-box .item:nth-child(odd) {
	background: #0c1e46;
}

.box-list .list-box .item>div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.detail {
	background: url('../img/exhibition/icon_detail.png') no-repeat;
	background-size: 100% 100%;
	width: 0.41rem;
	height: 0.17rem;
	margin-right: 0.1rem;
	cursor: pointer;
}

.position {
	background: url('../img/exhibition/icon_position.png') no-repeat;
	background-size: 100% 100%;
	width: 0.41rem;
	height: 0.17rem;
	cursor: pointer;
}

#right .right-four {
	width: 4.21rem;
	height: 2.82rem;
	background: url('../img/exhibition/box_bac9.png') no-repeat;
	background-size: 4.21rem 2.82rem;
	background-position: 0 0;
	position: relative;
	display: flex;
	padding-top: 0.38rem;
}

.right-four .video-box {
	width: 100%;
	height: 2.1rem !important;
	padding: 0 0.2rem;
	background-color: transparent !important;
}

@media only screen and (max-width: 1919px) {
	.company-info li span:last-child {
		width: 0.6rem;
	}
	.company-info li span:nth-child(3) {
		width: 0.5rem;
	}
	.company-info li span:nth-child(4) {
		width: 0.9rem;
		margin-right: 0.1rem;
	}
}

.layui-layer-title {
	font-size: 0.16rem !important;
	color: rgba(255, 255, 255, 0.8) !important;
	background-color: #08112D !important;
	border-bottom: none !important;
}

.layui-layer-page .layui-layer-content {
	height: auto !important;
	color: rgba(255, 255, 255, 0.8) !important;
	background-color: #0c1e46 !important;
	font-size: 0.16rem;
}

.info-box {
	width: 100%;
	padding: 0.2rem 0.2rem 0 0.2rem;
}

.info-box .info-list {
	width: 100%;
}

.info-box .info-list li {
	width: 50%;
	float: left;
	margin-bottom: 0.2rem;
}

.message-box {
	padding: 0.2rem;
}

.message-box .message-title {
	font-size: 0.23rem;
	font-family: MFLIHEIFont;
	color: #00A2FF;
	text-align: center;
	margin-bottom: 0.2rem;
}

.message-box .message-content {
	text-indent: 0.32rem;
}

/*设备控制弹框样式*/

.mask {
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 10100;
	font-size: 0.12rem;
}

/*智控平台*/

.control-tip-box {
	width: 18.8rem;
	height: 9.4rem;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -4.7rem;
	margin-left: -9.4rem;
	background-color: rgba(8, 17, 45);
	z-index: 1100;
}

.control-tip-box .control-platform-head {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 0.91rem;
	position: relative;
}

.control-tip-box .control-platform-head>p {
	font-size: 0.24rem;
	font-weight: bold;
}

.control-tip-box .control-platform-head>span:nth-child(2) {
	position: absolute;
	right: 1rem;
}

.control-tip-box .control-platform-head>span:last-child {
	position: absolute;
	right: 0.5rem;
}

.icon-full-screen {
	width: 0.21rem;
	height: 0.21rem;
	background: url('../img/exhibition/full_screen.png') no-repeat;
	background-size: 0.19rem 0.21rem;
	cursor: pointer;
}

.icon-exit-out {
	width: 0.21rem;
	height: 0.21rem;
	background: url('../img/exhibition/exit_out.png') no-repeat;
	background-size: 0.21rem 0.21rem;
	cursor: pointer;
}

.intelligent-control-platform .control-platform-body {
	width: 100%;
	height: 8.22rem;
	display: flex;
	justify-content: center;
}

.intelligent-control-platform .control-platform-body .platform-body-left {
	width: 3.14rem;
	height: 8.22rem;
	display: flex;
	flex-direction: column;
	margin-right: 0.24rem;
	background: url('../img/exhibition/tip_content_box1.png') no-repeat;
	background-size: 3.14rem 8.22rem;
	padding: 0.08rem 0.08rem 0 0.08rem;
}

.control-platform-body .platform-body-left .operate-list {
	display: flex;
	flex-direction: column;
	overflow: auto;
}

.control-platform-body .platform-body-left .operate-list .operate-list-item {
	width: 100%;
	margin-bottom: 0.2rem;
}

.operate-list .operate-list-item .operate-item-name {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 0.5rem;
	font-size: 0.18rem;
	padding: 0 0.2rem;
	cursor: pointer;
	background: rgba(76, 167, 253, 0.3);
}

.operate-list .operate-list-item .list-on {
	background: rgba(76, 167, 253, 0.6);
}

.operate-list .operate-list-item .operate-item-name .operate-item-arrow {
	width: 0.24rem;
	height: 0.24rem;
	background: url('../img/exhibition/right_arrow_s.png') no-repeat;
	background-size: 0.24rem 0.24rem;
	transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	/* Firefox 4 */
	-webkit-transition: all 0.5s linear;
	/* Safari 和 Chrome */
	-o-transition: all 0.5s linear;
	/* Opera */
}

.info-box {
	width: 100%;
	padding: 0.2rem 0.2rem 0 0.2rem;
}

.info-box .info-list {
	width: 100%;
}

.info-box .info-list li {
	width: 50%;
	float: left;
	margin-bottom: 0.2rem;
}

.intelligent-control-platform .control-platform-body .platform-body-right {
	width: 14.95rem;
	height: 8.22rem;
	display: flex;
	flex-direction: column;
	background: url('../img/exhibition/tip_content_box2.png') no-repeat;
	background-size: 14.95rem 8.22rem;
	position: relative;
	padding: 0.45rem 0.1rem 0.3rem 0.15rem;
}

.control-platform-body .platform-body-right .state-list {
	display: flex;
	margin: 0.28rem 0 0.3rem 0.29rem;
}

.platform-body-right .state-list .state-item {
	display: flex;
	margin-left: 0.9rem;
}

.platform-body-right .state-list .state-item .state-value {
	display: flex;
}

.platform-body-right .state-item .state-value .state-value-item {
	margin-right: 0.15rem;
}

.control-platform-body .platform-body-right .company-control-list {
	display: flex;
	flex-wrap: wrap;
	width: 14.59rem;
	height: 7.21rem;
	overflow: auto;
	position: relative;
}

.platform-body-right .company-control-list .control-list-item {
	display: flex;
    flex-direction: column;
    align-items: center;
    width: 1.2rem;
    height: 0.76rem;
    margin: 0 0.06rem 0.05rem 0.11rem;
    cursor: pointer;
}

.company-control-list .control-list-item .control-item-text{
	width: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.company-control-list .control-list-item .control-img-box{
	width: 0.55rem;
    height: 0.55rem;
    margin-top: 0.05rem;
    border: 1px solid #00A2FF;
    border-radius: 50%;
}

.company-control-list .control-list-item .control-img-box img{
	width: 100%;
}

/*样式覆盖*/

.item-head-text {
	color: #FFFFFF !important;
}

.layui-form-label {
	width: 110px;
}

.form-group {
	margin-bottom: 15px;
}

.layui-layer-title {
	font-size: 0.16rem !important;
	color: rgba(255, 255, 255, 0.8) !important;
	background-color: #0c1e46 !important;
	border-bottom: none !important;
}

.layui-layer-content {
	height: 100% !important;
	color: rgba(255, 255, 255, 0.8) !important;
	background-color: #0c1e46 !important;
	font-size: 0.16rem;
	padding-top: 0.3rem;
	border-top: 1px solid #3e3e4f;
}

.layui-layer-btn a {
	font-size: 0.2rem;
	text-align: center;
}

.layui-layer-btn {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background-color: #0c1e46 !important;
	border-top: 1px solid #3e3e4f
}

.layui-layer-setwin .layui-layer-close1 {
    background-position: -156px -38px !important;
}