.section {
	display: flex;
	height: 9.65rem;
	font-size: 0.12rem;
	margin: 0 0.3rem;
	justify-content: space-between;
	position: relative;
}

#left {
	width: 3.79rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#left .left-one {
	display: flex;
	flex-direction: column;
	width: 3.79rem;
	height: 3.93rem;
}

.box-line {
	position: relative;
	border-top: 2px solid rgb(62, 62, 79);
	border-bottom: 2px solid rgb(62, 62, 79);
}

.box-line::after {
	content: "";
	width: 0.4rem;
	height: 2px;
	position: absolute;
	background-color: rgb(0, 255, 255);
	top: -2px;
	right: 0;
}

.title-box {
	display: flex;
	align-items: center;
	margin-top: 0.35rem;
}

.title-box>span {
	width: 0.14rem;
	height: 0.16rem;
	background: url('../img/public/dot.png') no-repeat;
	background-size: 0.14rem 0.16rem;
	margin-right: 0.1rem;
}

.title-box>p {
	font-size: 0.2rem;
	font-weight: bold;
}

.left-one .content-box {
	display: flex;
	justify-content: space-around;
	width: 3.63rem;
	height: 100%;
	margin: 0 auto;
	padding-top: 0.3rem;
}

.content-box .bar-item {
	display: flex;
    align-items: center;
	flex-direction: column;
	width: 30%;
	text-align: center;
}

.content-box .bar-item>span:first-child {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 0.83rem;
	height: 2.4rem;
	font-size: 0.16rem;
	position: relative;
}

.content-box .bar-item>span:last-child {
	font-size: 0.16rem;
	font-weight: bold;
	margin-top: 0.1rem;
}

.icon-all-bar {
	background: url('../img/projectManagement/bubble1.png') no-repeat;
	background-size: 0.83rem 2.4rem;
}

.icon-complete-bar {
	background: url('../img/projectManagement/bubble2.png') no-repeat;
	background-size: 0.83rem 2.4rem;
}

.icon-building-bar {
	background: url('../img/projectManagement/bubble3.png') no-repeat;
	background-size: 0.83rem 2.4rem;
}

#left .left-two {
	display: flex;
	flex-direction: column;
	width: 3.8rem;
	height: 5.21rem;
}

.left-two .content-box {
	margin-top: 0.24rem;
	margin-left: 0.24rem;
}

.content-box .content-head {
	margin-bottom: 0.2rem;
}

.content-box .content-head>p {
	margin-bottom: 0.15rem;
	font-weight: bold;
}

.content-box .content-head .value-box {
	display: flex;
	align-items: center;
}

.content-head .value-box .num-item {
	width: 0.36rem;
	height: 0.53rem;
	line-height: 0.53rem;
	font-size: 0.24rem;
	font-weight: bold;
	text-align: center;
	margin-right: 0.1rem;
	background: url('../img/index_left/number.png') no-repeat;
	background-size: 0.36rem 0.53rem;
}

.content-box .content-body {
	width: 100%;
	height: 3.1rem;
	display: flex;
	flex-direction: column;
	overflow: auto;
}

.content-body>li {
	display: flex;
	align-items: center;
	margin-bottom: 0.2rem;
}

.content-body>li .city-img-box {
	width: 0.42rem;
	height: 0.42rem;
	margin-right: 0.2rem;
}

.content-body>li .city-img-box img {
	width: 100%;
}

.content-body>li .exhibition-info {
	display: flex;
	flex-direction: column;
	width: 2.55rem;
	padding-bottom: 0.05rem;
	border-bottom: 1px solid rgba(220, 220, 220, 0.3);
}

.exhibition-info>div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.exhibition-info .layui-progress {
	width: 1.3rem;
	background: transparent;
}

.content-head .value-box>span:last-child {
	font-size: 0.14rem;
	font-weight: bold;
	margin-top: 0.15rem;
}

#center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 9.72rem;
	padding-top: 0.4rem;
	position: relative;
}

#center .mark-box {
	width: 4rem;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.mark-box>div {
	display: flex;
	align-items: center;
	font-size: 0.18rem;
	font-weight: bold;
	cursor: pointer;
	opacity: 0.7;
}

.mark-box>div.active,
.mark-box>div:hover {
	opacity: 1;
}

.mark-box>div span:first-child {
	width: 0.3rem;
	height: 0.3rem;
	margin-right: 0.1rem;
}

.icon-builded {
	background: url('../img/exhibition/map_icon1.png') no-repeat;
	background-size: 0.3rem 0.3rem;
}

.icon-building {
	background: url('../img/exhibition/map_icon2.png') no-repeat;
	background-size: 0.3rem 0.3rem;
}

#ec_map {
	width: 9.72rem;
	height: 6.61rem;
}

#center .nav-box {
	width: 5.26rem;
	height: 0.31rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-box>li{
	width: 1.49rem;
	height: 100%;
	line-height: 0.31rem;
	font-size: 0.16rem;
	font-weight: bold;
	background: url("../img/public/btn.png") no-repeat;
	background-size: 1.49rem 0.31rem;
	cursor: pointer;
	padding-left: 0.31rem;
}

.nav-box>li.active,.nav-box>li:hover{
	background: url("../img/public/btn1.png") no-repeat;
	background-size: 1.49rem 0.31rem;
	color: #00FFFF;
}

#right {
	width: 3.79rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#right .right-one {
	display: flex;
	flex-direction: column;
	width: 3.79rem;
	height: 3.48rem;
}

.right-one .statistics-data {
	display: flex;
	justify-content: space-between;
	margin-top: 0.2rem;
	margin-left: 0.24rem;
}

.statistics-data>li {
	width: 1.1rem;
}

.statistics-data>li:first-child{
	width: 1.4rem;
}

.statistics-data>li>span:last-child {
	font-size: 0.26rem;
	font-family: LED;
	margin-left: 0.1rem;
}

.statistics-echart {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.statistics-echart>div {
	width: 3.6rem;
	height: 1.9rem;
}

#right .right-two {
	display: flex;
	flex-direction: column;
	width: 3.79rem;
	height: 5.62rem;
}

.right-two .company-list {
	width: 100%;
	height: 4.35rem;
	overflow: hidden;
	margin-top: 0.3rem;
}

.company-list ul>li {
	display: flex;
	align-items: center;
	margin-bottom: 0.2rem;
}

.company-list ul>li>div {
	width: 1.6rem;
	height: 0.44rem;
	margin-right: 0.2rem;
}

.company-list ul>li img {
	width: 100%;
	height: 0.44rem;
}

.tip-content-body {
	position: absolute;
	width: 3.58rem;
	height: 1.28rem;
	background: url('../img/exhibition/tip_box1.png') no-repeat;
	background-size: 3.58rem 1.28rem;
	font-size: 0.12rem;
	color: #FFFFFF;
	padding-left: 0.2rem;
	padding-top: 0.2rem;
}

.tip-content-body>p {
	width: 3.3rem;
	margin-bottom: 0.05rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.tip-content-body>p:first-child {
	font-size: 0.16rem;
	font-weight: bold;
	margin-top: 0.1rem;
}

.tip-content-body>div span {
	margin-right: 0.25rem;
}