.headerBox {
    width: 19.2rem;
    height: 0.82rem;
    background: url("../img/nav_1/top-b.png");
    background-size: contain;
    display: flex;
    justify-content: space-between;
    padding: 0 0.15rem 0 0.3rem;
}

.headerBox > div {
    width: 33%;
    height: 100%;
    font-size: 0.16rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerBox > div:first-child {
    height: 0.57rem;
    justify-content: flex-start;
}

.headerBox > div:nth-child(2) {
    margin-top: 0.1rem;
}

.headerBox > div:last-child {
    justify-content: flex-end;
    height: 0.57rem;
}

.headerBox > .headerTitle {
    text-align: center;
    font-size: 0.3rem;
    cursor: pointer;
}

.headerBox > div > ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.headerBox > div > ul > li {
    margin-left: 0.3rem;
}

.headerBox > div > ul > li:first-child {
    margin-left: 0.11rem;
}

.headerBox > div > ul > li > img {
    width: 0.3rem;
    height: 0.3rem;
    cursor: pointer;
}

.headerBox > div > ul > li .on {
    display: none;
}
